# Python Basics NoteBook

In [53]:
#Write a Python code to return your Python version
import sys
print(sys.version)

3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]

In [16]:
#Write a Python code to declare variable id="513". 
#Print the following statement "customer id =513". [Don't use print("customer id =513")]
id= '513'
customer= id
print ('customer id=',customer)

customer id= 513

In [55]:
#Run the following statement, why there is an error

id=id+1
Because we are trying to add an int to a str

SyntaxError: invalid syntax (<ipython-input-55-06693a3193d1>, line 4)

In [58]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
new_id= int(id)+1
print(new_id)

514

In [66]:
#Write a Python code to print the following string in a specific format (see the output). 

# Twinkle, twinkle, little star, 
#     How I wonder what you are! 
#        Up above the world so high, 
#            Like a diamond in the sky.

print ('Twinkle, twinkle, little star,\n\tHow I wonder what you are!,\n\t\tUp above the world so high,\n\t\t\tLike a diamond in the sky.')

Twinkle, twinkle, little star,
	How I wonder what you are!,
		Up above the world so high,
			Like a diamond in the sky.

In [35]:
#Givin the following string variable, # Print the first element in the string

course="Python for Data Science"
print(course[0])

P

In [36]:
# Print the element on the 13th index in the string
print(course[13])

t

In [43]:
# Find the length of string
len(course)

23

In [44]:
# Print the last element in the string [use negative index]
print(course[-1])

e

In [54]:
# Take the slice on variable course with only index 11 to index 14
print(course[11:14])

Dat

In [48]:
# Get every third element in the range from index 0 to index 20
print(course[0:20:3])

Ph ra i

In [50]:
# Concatenate course string with ", AI & Development"
course+', AI & Development'

'Python for Data Science, AI & Development'

In [51]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"
a_string="Python for Data Science, AI & Development"
new_string= a_string.replace(" ","_")
new_string

'Python_for_Data_Science,_AI_&_Development'

In [52]:
# Convert all the characters in string to upper case
a_string.upper()

'PYTHON FOR DATA SCIENCE, AI & DEVELOPMENT'