In [1]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,3,2021)
myTuple= ('NPower','JDA','Tuesday',30,3,2021)
myTuple

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [12]:
#Q2 What is the type of myTuple
type(myTuple)

tuple

In [13]:
#Q3 What is the length of myTuple
len(myTuple)

6

In [18]:
#Q4 print the values in each index #Use regular indexing 
(myTuple[0],myTuple[1],myTuple[2],myTuple[3],myTuple[4],myTuple[5])

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

In [21]:
#Q5 print the values in each index #Use negative indexing 
(myTuple[-1],myTuple[-2],'....',myTuple[-6])

(2021, 3, '....', 'NPower')

In [52]:
#Q6 what is the type of each value
print(type(myTuple[0]),"\n",type(myTuple[1]),"\n",type(myTuple[2]),"\n",type(myTuple[3]),"\n",type(myTuple[4]),"\n",type(myTuple[5]))

<class 'str'>
 <class 'str'>
 <class 'str'>
 <class 'int'>
 <class 'int'>
 <class 'int'>

In [73]:
#Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,year accordingly 
# print the variables 
name,program,dayName,month,day,year= myTuple
print('name=',name,"\n",'program=',program,"\n",'dayName=',dayName,"\n",'month=',month,"\n",'day=',day,"\n",'year=',year)

name= NPower
 program= JDA
 dayName= Tuesday
 month= 30
 day= 3
 year= 2021

In [81]:
#Q8 unpack myTuple2 in the follwoeing variablesname,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)
myTuple2= ('Muhammad','Data Analyst','Wed')
name,program,dayName= myTuple2
print('name=',name,"\n",'program=',program,"\n",'dayName=',dayName,"\n",'month=',month,"\n",'day=',day,"\n",'year=',year)

name= Muhammad
 program= Data Analyst
 dayName= Wed
 month= 30
 day= 3
 year= 2021

In [ ]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements 
Tuple2=("Ulan")#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value

a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)

d=Tuple2
print(type(d))
print(d)

e=test
print(e)

In [ ]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory 
#and holding different information

testTuple=(1,2,3)
print(testTuple)

testTuple=(4,5,6)
print(testTuple)

#But we can't change or edit a value for the existing tuple

testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

In [94]:
#Q9 Reverse myTuple, output should looks like ("NPower","JDA","Tuesday",30,3,2021)
tuple(reversed(myTuple))

(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')

In [2]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple= (("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple

(('Coursera', 'course', 6), ('week', (2, 'Lists', 'Tuple')))

In [98]:
#Q11 What is the output of nestedTuple[1:2]
nestedTuple[1:2]

(('week', (2, 'Lists', 'Tuple')),)

In [127]:
#Q12 print each element in the nestedTuple
print('**Elements of 1st Tuple**')
print(nestedTuple[0])
print(nestedTuple[0][0])
print(nestedTuple[0][1])
print(nestedTuple[0][2])
print('\n**Elements of 2nd Tuple**')
print(nestedTuple[1])
print(nestedTuple[1][0])
print(nestedTuple[1][1])
print('\n**Elements of 3rd sub nestedTuple**')
print(nestedTuple[1][1])
print(nestedTuple[1][1][0])
print(nestedTuple[1][1][1])
print(nestedTuple[1][1][2])

**Elements of 1st Tuple**
('Coursera', 'course', 6)
Coursera
course
6

**Elements of 2nd Tuple**
('week', (2, 'Lists', 'Tuple'))
week
(2, 'Lists', 'Tuple')

**Elements of 3rd sub nestedTuple**
(2, 'Lists', 'Tuple')
2
Lists
Tuple

In [129]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
nestedTuple[1][1]

(2, 'Lists', 'Tuple')

In [130]:
#Q14 Access "Lists" from nestedTuple
nestedTuple[1][1][1]

'Lists'

In [131]:
#Q15 Access "Tuple" from nestedTuple
nestedTuple[1][1][2]

'Tuple'

In [132]:
#Q16 Access "course" from nestedTuple
nestedTuple[0][1]

'course'

In [3]:
#Q17 Concatenate myTuple with nestedTuple
myTuple= myTuple+nestedTuple
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')))

In [4]:
#Q18 add your name to the tuple
myTuple= myTuple+('Muhammad',)
myTuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')),
 'Muhammad')

In [5]:
#Q19 check whether Coursera exists within a myTuple

# NOTE in doesn't work properly with nested tuples # Wrong output
'Coursera' in myTuple

False

In [14]:
#Q20 check whether an element exists within a testTuple
testTuple= (2,88,54,60,9,44,7)
print (88 in testTuple)
print (77 in testTuple)

True
False

In [13]:
#Q21 Find the index of JDA in myTuple
# Find the index of 'Coursera' in myTuple
# NOTE index doesn't work properly with nested tuples # Wrong output

print (myTuple.index('JDA'))

1

In [14]:
#Q22 print index 8 from myTuple
myTuple[8]

'Muhammad'

In [15]:
#Q23 Get the 4th element and 4th element from last of a myTuple
print (myTuple[3])
print (myTuple[-4])

30
2021

In [16]:
#Q24 Find how many times 27 appeared in the tuple [Hint: Use method count()]
myTuple.count(27)

0